MAILTO=""
SHELL="/bin/bash"
# WP Cron
* *  * * *  flock -n /tmp/wp-cron.lock /usr/local/bin/php -d mail.add_x_header=Off -d error_log= ~/public_html/wp-cron.php 2>&1 | ~/bin/ingest.php wp-cron
# Siteprotection
00 *  * * *  ~/bin/siteprotection.sh 2>&1 | ~/bin/ingest.php siteprotection
# Site health
04 *  * * *  /usr/local/bin/php ~/bin/wp --quiet site-health check ~/site-health.yml 2>&1 | ~/bin/ingest.php site-health
# Nightly mark to create syslog.log
#01 0  * * *  echo '-- MARK --' | ~/bin/ingest.php mark
